//black and white
$black: #070c2a;
$white: #f4f6fc;

// colours
$orange-1: #ff5833;
$yellow-1: #fac014;
$yellow-2: #cea11c;
$green-1: #23693e;
$green-2: #2d9555;
$cyan-1: #33ceff;
$blue-1: #3248b8;
$blue-2: #7a8ded;
$grey-1: #4e5681;
$purple-1: #7f12b2;
$pink-1: #b90164;
$pink-2: #f00182;
$pink-3: #f7898c;
$pink-4: #f0afb1;

// aliases
$accent: $pink-2;
