@import "reset";
@import "colours";
@import "spacing";
@import "fonts";

/* GENERAL */
* {
  box-sizing: border-box;
}

/* FONTS */

body {
  font-size: 1rem;
  padding: $s;
  font-family: $sans-serif;
  color: $black;
}

h1,
h2 {
  font-family: $headings;
}

h1 {
  font-size: 3.998rem;
  margin-bottom: $m;
}

h2 {
  font-size: 2.827rem;
  margin-bottom: $m;
}

h3 {
  font-size: 1.414rem;
  margin-bottom: $m;
  font-weight: bold;
}

p {
  margin: $m auto $m auto;
}

/* NUMDRUM */

.drum {
  border: 0;
  width: 80px;
  height: 80px;
  position: absolute;
}

h1 {
  color: $white;
}

#container {
  background-color: $purple-1;
  height: 568px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  padding: $m;
  margin: 0;
  border: 0;
  height: 96px;
  width: 100%;
  justify-content: space-between;
}

main {
  position: relative;
  padding: 0 $m $m $m;
  border: 0;
  height: calc(568px - 96px);
  width: 100%;
}

#drum100 {
  width: 280px;
  height: 275px;
}

#drum1000 {
  width: 255px;
  height: 249px;
  bottom: 16px;
  left: 0;
}
