@import "reset";
@import "colours";
@import "spacing";
@import "fonts";

/* GENERAL */
* {
  box-sizing: border-box;
}

/* FONTS */

body {
  font-size: 1rem;
  padding: $s;
  font-family: $sans-serif;
  color: $black;
}

h1,
h2 {
  font-family: $headings;
}

h1 {
  font-size: 3.998rem;
  margin-bottom: $m;
}

h2 {
  font-size: 2.827rem;
  margin-bottom: $m;
}

h3 {
  font-size: 1.414rem;
  margin-bottom: $m;
  font-weight: bold;
}

p {
  margin: $m auto $m auto;
}

/* NUMDRUM */

.drum {
  border: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  transition: 0.1s;
}

h1 {
  color: $white;
}

#container {
  background-color: $purple-1;
  height: 568px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  padding: $m;
  margin: 0;
  border: 0;
  height: 96px;
  width: 100%;
  justify-content: space-between;
}

main {
  position: relative;
  padding: 0 $m $m $m;
  border: 0;
  height: calc(568px - 96px);
  width: 100%;
}

#drum1 {
  width: 61px;
  height: 57px;
  right: 64px;
  top: 0;
  transform: rotate(10deg);
}

#drum10 {
  width: 108px;
  height: 127px;
  left: 35px;
  top: 30px;
  transform: rotate(-10deg);
}

#drum100 {
  width: 155px;
  height: 152px;
  top: 84px;
  right: 16px;
  transform: rotate(20deg);
}

#drum1000 {
  width: 255px;
  height: 249px;
  bottom: 16px;
  left: 0;
}

.drum1--clicked {
  transform: rotate(15deg) !important;
}

.drum10--clicked {
  transform: rotate(-15deg) !important;
}

.drum100--clicked {
  transform: rotate(25deg) !important;
}

.drum1000--clicked {
  transform: rotate(-5deg) !important;
}

.circle-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: $accent;
  border: none;
  box-shadow: 2px 2px 5px $black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-button > .arrow--back {
  width: 20px;
  height: 20px;
}

.circle-button > .arrow--reset {
  width: 30px;
  height: 34px;
}
