<div id="container">
    <header id="info">
        <button class="back">Back</button>
        <div id="score">
            <h1>0</h1>
        </div>
        <button id="reset">Reset</button>
    </header>
    <main id="game">
        <img class="drum" id="drum1" src="assets/svg/ninja.svg" />
        <img class="drum" id="drum10" src="assets/svg/burger.svg" />
        <img class="drum" id="drum100" src="assets/svg/cyclopig.svg" />
        <img class="drum" id="drum1000" src="assets/svg/frog.svg" />
    </main>
</div>

<script src="/assets/scripts/logic.js" type="text/javascript"></script>
<script src="/assets/scripts/score.js" type="text/javascript"></script>
<script src="/assets/scripts/dom.js" type="text/javascript"></script>