<div id="container">
  <header id="info">
    <button class="circle-button" id="back"><img class="arrow--back" src="assets/svg/arrow_back.svg" alt="back arrow"></button>
    <div id="score">
      <h1>0</h1>
    </div>
    <button class="circle-button" id="reset"><img class="arrow--reset" src="assets/svg/arrow_reset.svg" alt="reset icon"></button>
  </header>
  <main id="game">
    <img class="drum" id="drum1" src="assets/svg/ninja.svg" alt="Ninja, value 1" />
    <img class="drum" id="drum10" src="assets/svg/burger.svg" alt="Burger, value 10" />
    <img class="drum" id="drum100" src="assets/svg/cyclopig.svg" alt="Cyclopig, value 100" />
    <img class="drum" id="drum1000" src="assets/svg/frog.svg" alt="Frög, value 1000" />
  </main>
</div>

<script src="/assets/scripts/logic.js" type="text/javascript"></script>
<script src="/assets/scripts/score.js" type="text/javascript"></script>
<script src="/assets/scripts/dom.js" type="text/javascript"></script>