<div id="container">
  <header id="info">
    <button class="circle-button" id="back"><img class="arrow--back" src="assets/svg/arrow_back.svg" alt="back arrow"></button>
    <div id="score">
      <h1>0</h1>
    </div>
    <button class="circle-button" id="reset"><img class="arrow--reset" src="assets/svg/arrow_reset.svg" alt="reset icon"></button>
  </header>
  <main id="game">
  </main>
</div>

<script src="/assets/scripts/bodyScrollLock.js"></script>
<script src="/assets/scripts/logic.js"></script>
<script src="/assets/scripts/score.js"></script>
<script src="/assets/scripts/dom.js"></script>