<div id="container">
  <header id="info">
  </header>
  <main id="game">
    <button id="timed">Start Timed</button>
    <button id="twoPlayer">Start 2-Player</button>
  </main>
</div>

<script src="/assets/scripts/bodyScrollLock.js"></script>
<script src="/assets/scripts/logic.js"></script>
<script src="/assets/scripts/score.js"></script>
<script src="/assets/scripts/dom.js"></script>
<script src="/assets/scripts/timed-mode.js"></script>