<!DOCTYPE html>
<html lang="en" touch-action="none">

{{>head}}

<body>
    {{{ body }}}
    <script src="/assets/scripts/manup.js"></script>
    <script>if (navigator.serviceWorker.controller) {
            console.log('[PWA Builder] active service worker found, no need to register')
        } else {
            //Register the ServiceWorker
            navigator.serviceWorker.register('/assets/scripts/pwabuilder-sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }</script>


</body>

</html>